header {
  /* background-color: rgb(230, 230, 250, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
  border-radius: 30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 35px 45px;
}

.username-title {
  color: #671d61;
  display: flex;
  align-items: center;
}

.username-title h3 {
  font-size: 43px;
  font-family: TitleFont;
  margin: 0 5px;
}

.header-logo {
  height: 45px;
}

nav {
  border: 2px solid #671d61;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 22rem;
  margin-right: 60px;
  padding: 0;
}

nav:hover {
  background-color: rgb(173, 131, 219, 0.2);
}

nav .link {
  padding: 0 15px;
}

.link-fav {
  margin-right: 30px;
}

.link-search {
  margin-left: 30px;
}

.link {
  color: #671d61;
  font-size: 24px;
  text-decoration: none;
}

.current-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(-196deg, #9466cd, #8864a0 50%, #671d61);
  background: -webkit-linear-gradient(164deg, #9466cd, #8864a0 50%, #671d61);
  background: linear-gradient(286deg, #9466cd, #8864a0 50%, #671d61);
  color: lavender;
  border-radius: 30px;
  height: 100%;
  width: 45%;
}

/* .link:hover {
  font-size: 24px;
} */

.profile-div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.profile-icon {
  height: 26px;
  margin-right: 5px;
}
