@font-face {
  font-family: "TitleFont";
  src: url("./extra/Mochica_PERSONAL_USE_ONLY.otf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./extra/Roboto-Medium.ttf") format("truetype");
}

* {
  font-family: Roboto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#8ab6bf, transparent),
    linear-gradient(45deg, #967bd0, transparent),
    linear-gradient(-45deg, #f4bb54, transparent);

  background-blend-mode: screen;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
